			<link rel="stylesheet" href="{($t_dir)}/css/public/footer.css" />
			<footer>
				<p>
					&copy; Copyright  by <a href="http://t.qq.com/yanhaijing1234">颜海镜</a>2013
				</p>
			</footer>
		</div><!-- end of .container-fluid -->
		<!-- link jquery -->
		<script type="application/javascript" src="{($t_dir)}js/jquery-1.8.2.min.js"></script>
		
		<!-- bootstrap -->
		<script type="application/javascript" src="{($t_dir)}plugins/bootstrap/js/bootstrap.min.js"></script>
		
		<script type="application/javascript" src="http://yanhaijing.github.com/bigForum/admin/templates/js/authentication.js"></script>
			
		<!-- bsie js 补丁只在IE6中才执行 -->
		<!--[if lte IE 6]>
		  <script type="text/javascript" src="{($t_dir)}plugins/bootstrap/bootstrap-ie.js"></script>
		<![endif]-->
	</body>
</html>