			<div class="nav span2">
					<div class="well sidebar-nav">
			            <ul class="nav nav-list">
			              <li class="nav-header">基本操作</li>
			              <li class="{($index)}"><a href="index.php">帐号管理</a></li>
			              <li class="{($setting)}"><a href="setting.php">网站配置</a></li>
			              <li><a href="user_quit.php">退出</a></li>
			              <li class="nav-header">通知</li>
			              <li class="{($notice_add)}"><a href="notice_add.php">添加通知</a></li>
			              <li class="{($notice_list)}"><a href="notice_list.php">通知列表</a></li>
			              <li class="nav-header">留言板</li>
			              <li class="{($message_list)}"><a href="message_list.php">已审核留言</a></li>
			              <li class="{($message_no_check_list)}"><a href="message_no_check_list.php">待审核留言</a></li>
			              <li class="nav-header">技术支持</li>
			              <li><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=c1785a60eca40c93d469e3f440d7375f2f98965e802dc81c"><img border="0" src="http://wpa.qq.com/imgd?IDKEY=c1785a60eca40c93d469e3f440d7375f2f98965e802dc81c&amp;pic=51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
			              <li><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=l_72_f-2-v3__fCmpaSj1-H47-r2-vu59Pj6" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a></li>
			            </ul>
			  		</div><!-- end of sldebar-nav -->
				</div><!-- end of .nav -->