.content{
	-moz-box-shadow:0px 0px 10px #9BBAD6; 
	-webkit-box-shadow:0px 0px 10px #9BBAD6; 
	box-shadow:0px 0px 10px #9BBAD6;
	background:#A3CDF3;
	min-height:400px;
}
.content h2{
	margin:30px 10%;
	text-align:center;
	border-bottom:2px solid #002A80;
	padding-bottom:10px
}
.content > ul{
	margin: 0 10%;
	list-style: none;
	background:#FFFFFE;
	min-height: 100px;
	border-radius:2px;
	padding:50px
}
.content > ul li{
	font-size: 18px;
	margin:20px 0
}
.content > ul li time{
	float: right
}
.content p{
	text-align:center;
	margin-top:30px
}
.pagination{
	margin-top:0
}

form{
	margin:30px 10%;
}
form textarea{
	width:80%;
	height:150px
}
