/* 大屏幕 */
@media (min-width: 1200px) {
}
 
/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {
	.content .download-panel li a{
		width:60%
	}
}
 
/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
	.content .video-panel li time{
		display:none
	}
	.content .video-panel li a{
		width:100%
	}
}
 
/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
}