<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>人文与科技讲坛后台管理登录</title>
		<meta name="description" content="" />
		<meta name="author" content="admin" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="./favicon.ico" />
		<link rel="apple-touch-icon" href="./apple-touch-icon.png" />
		
		<link rel="stylesheet" href="{($t_dir)}plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{($t_dir)}plugins/bootstrap/css/bootstrap-responsive.min.css" />
		
		
		<!-- bsie css 补丁文件 -->
		<!-- bsie 额外的 css 补丁文件 -->
		<!--[if lte IE 6]>	  	
	  		<link rel="stylesheet" type="text/css" href="{($t_dir)}plugins/bootstrap/css/bootstrap-ie6.css">
			<link rel="stylesheet" type="text/css" href="{($t_dir)}plugins/bootstrap/css/ie.css">
	  	<![endif]-->
		
	  	<link rel="stylesheet" href="{($t_dir)}css/login.css" />
	  	
	  	<!-- 加载ie html5 js -->
		<!--[if lt IE 9]>
			<script src="{($t_dir)}js/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="container">
			<header>
				<h1>人文与科技讲坛后台管理登录</h1>
			</header>
			<form class="form-signin" method="post" action="check_login.php">
		        <h2 class="form-signin-heading">Please sign in</h2>
		        <input name="account" type="text" class="input-block-level" placeholder="Account" value="{($account)}">
		        <input name="password" type="password" class="input-block-level" placeholder="Password">		       
		        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
		        <span class="text-error">{($error_infor)}</span>
		 	</form>
		</div><!-- end of .container -->
		
		<!-- link jquery -->
		<script type="application/javascript" src="{($t_dir)}js/jquery-1.8.2.min.js"></script>
		
		<!-- bootstrap -->
		<script type="application/javascript" src="{($t_dir)}plugins/bootstrap/js/bootstrap.min.js"></script>
			
		<!-- bsie js 补丁只在IE6中才执行 -->
		<!--[if lte IE 6]>
		  <script type="text/javascript" src="{($t_dir)}plugins/bootstrap/bootstrap-ie.js"></script>
		<![endif]-->
	</body>
</html>
