	{(* 包含head文件 *)}
  	{(include file="public/head.html")}
		  	<link rel="stylesheet" href="{($t_dir)}css/message_list.css" />
	</head>
	<body>
		<div class="container-fluid">
			{(* 包含header文件 *)}
  			{(include file="public/header.html")}
			<div class="row-fluid">
				{(* 包含header文件 *)}
  				{(include file="public/nav.html")}
				<div class="span10 well content">
					<h3>待审核留言列表</h3>
					<table class="table table-striped table-condensed table-bordered">
						<caption>留言列表</caption>
						<thead>
							<tr>
								<th scope="col">序号</th><th scope="col">留言内容</th><th scope="col">创建日期</th><th scope="col">操作</th>
							</tr>
						</thead>
						<tbody>
							{(section name=message loop=$messages)}
								<tr>
									<td>{($messages[message].id)}</td>
									<td>{($messages[message].content)}</td>
									<td>{($messages[message].date)}</td>
									<td>
										<a href="message_check_pass.php?id={($messages[message].id)}">审核通过</a>|
										<a href="message_delete.php?id={($messages[message].id)}">删除</a>
									</td>
								</tr>
							{(/section)}
						</tbody>
						<tfoot>
						  <tr>
						  	<td colspan="4" align="center">
						  		显示 {($page_size)} 条记录 共 {($total_row)} 条记录  共 {($total_page)} 页
							</td>
						  </tr>
						</tfoot>
					</table>
					<div class="pagination pagination-centered">
					  <ul>
					  	<li class="{($first_page_status)}"><a href="message_list.php?current_page=1">First</a></li>
					    <li class="{($pre_page_status)}"><a href="message_list.php?current_page={($pre_page)}">Prev</a></li>
					    {(section name=pagination loop=$paginations)}
							<li class="{($paginations[pagination].page_status)}"><a href="message_list.php?current_page={($paginations[pagination].id)}">{($paginations[pagination].id)}</a></li>
						{(/section)}
					    <li class="{($next_page_status)}"><a href="message_list.php?current_page={($next_page)}">Next</a></li>
					    <li class="{($last_page_status)}"><a href="message_list.php?current_page={($total_page)}">Last</a></li>
					  </ul>
					</div>
				</div><!-- end of .content -->
			</div><!-- end of .row-fluid -->
			
		{(* 包含foot文件 *)}
  		{(include file="public/footer.html")}