		{(* 包含head文件 *)}
		{(include file="public/head.html")}		
		<link rel="stylesheet" href="{($t_dir)}css/index.css" />
	</head>

	<body>
		<div class="container">
			{(* 包含header文件 *)}
			{(include file="public/header.html")}
			
			{(* 包含nav文件 *)}
			{(include file="public/nav.html")}
			<div class="content container">
				<div class="row">
					<div class="hots span8">
						<h2>热点推荐</h2>
						<p>
							<a href="#myModal" role="button" data-toggle="modal"><img alt="{($notices[0].title)}" src="admin/{($notices[0].content)}"></a>
							<!-- Modal -->
							<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										×
									</button>
									<h3 id="myModalLabel">{($notices[0].title)}</h3>
								</div>
								<div class="modal-body">
									<p>
										<img alt="{($notices[0].title)}" src="admin/{($notices[0].content)}">
									</p>
								</div>
							</div>
						</p>
					</div><!-- end of .hots -->
					<div class="notice span4">
						<h2>最新通知</h2>
						<a href="notice_list.php" class="more">more</a>
						<ul>
							{(section name=notice loop=$notices)}
							<li><a href="#"><span>{($notices[notice].title)}</span><time>{($notices[notice].date)}</time></a></li>
							{(/section)}
						</ul>
					</div><!-- end of .notice -->
				</div><!-- end of .row -->

				<div class="introduction">
					<h2>简介</h2>
					<p class="lead">
						“科院大讲堂”由华北电力大学科技学院学生工作部主办。
						本着“启迪思想，传播知识，发现智慧”的宗旨，为弘扬科学精神，传承与创新大学文化，
						提升师生各方面素养、营造学术氛围而开设的学术交流园地。
					</p>
					<p class="lead">
						大讲堂将通过各种教育形式，提高学生素质，开阔学生视野，激发学生强烈的求知欲望，
						进而促进他们在个性、知识、能力等方面协调发展。
					</p>
				</div><!-- end of .introduction -->
			
			</div><!-- end of .content -->	
			{(* 包含footer文件 *)}
			{(include file="public/footer.html")}		