		{(* 包含head文件 *)}
		{(include file="public/head.html")}
		<link rel="stylesheet" href="{($t_dir)}css/message.css" />
	</head>

	<body>
		<div class="container">
			{(* 包含header文件 *)}
			{(include file="public/header.html")}
			
			{(* 包含nav文件 *)}
			{(include file="public/nav.html")}
			<div class="content container">
				<h2>留言板</h2>
				<ul class="message-panel">
					{(section name=message loop=$messages)}
						<li>
							<time>{($messages[message].date)}</time>{($messages[message].content)}
						</li>
					{(/section)}
				</ul>
				<p>共 {($total_page)} 页</p>
				<div class="pagination pagination-centered">
				    <ul>
					  	<li class="{($first_page_status)}"><a href="message.php?current_page=1">首页</a></li>
					    <li class="{($pre_page_status)}"><a href="message.php?current_page={($pre_page)}">上一页</a></li>
					    {(section name=pagination loop=$paginations)}
							<li class="{($paginations[pagination].page_status)}"><a href="message.php?current_page={($paginations[pagination].id)}">{($paginations[pagination].id)}</a></li>
						{(/section)}
					    <li class="{($next_page_status)}"><a href="message.php?current_page={($next_page)}">下一页</a></li>
					    <li class="{($last_page_status)}"><a href="message.php?current_page={($total_page)}">尾页</a></li>
					  </ul>
				 </div>
				 
				 <form action="message_add.php" method="post">
				 	<fieldset>
				 		<legend>请输入你的留言</legend>				
					 	<textarea name="content"></textarea>
					 	<input type="submit" class="btn btn-primary btn-large" value="提交留言">
				 	</fieldset>
				 </form>
			</div><!-- end of .content -->	
			{(* 包含footer文件 *)}
			{(include file="public/footer.html")}		